nav {
    background-color: #000000;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}

#Nav a{
    color: grey
}

#Nav a:hover{
    color:orange
}

#Nav a:active{
    color: aquamarine;
}

body {
    background-image: url("/images/grey_background.jpg");
    text-align: center;
}

p {
    font-size: 110%
}

#log_out {
    position:fixed;
    right:10px;
    top:5px;
}



